@tailwind base;
@tailwind components;
@tailwind utilities;


main {
  padding: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 800px;
  padding: 20px;
  text-align: center;
  /* background-color: #f0f0f0; */
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

h1 {
  @apply text-5xl font-semibold;
}

.centered-container {
  @apply mx-auto px-5 md:px-14 max-w-screen-xl;
}

.section {
  @apply mt-8 mb-16;
}

.primary-cta {
  @apply bg-sky-500 hover:bg-sky-600;
}

.secondary-cta {
  @apply bg-sky-700 hover:bg-sky-800;
}
